# 1. Import Packages

In [49]:
import pandas as pd
import re
from datetime import datetime
import os

# 2. Reading Excel Data

In [50]:
def read_excel(file_path):
    
    sheets_dict=pd.read_excel(file_path, sheet_name = None)

    sheet_dataframes = {}
    for sheet_name,dataframe in sheets_dict.items():
        sheet_dataframes[sheet_name] = dataframe
        print(f"Imported Sheet: {sheet_name}")
        
    return sheet_dataframes

In [53]:
dataframes = read_excel('Input/cxo_data.xlsx')

Imported Sheet: CEO
Imported Sheet: COO
Imported Sheet: CFO
Imported Sheet: CMO
Imported Sheet: CTO
Imported Sheet: CSO
Imported Sheet: CPO
Imported Sheet: CCO
Imported Sheet: CPO_HR
Imported Sheet: CSO_Sustainability
Imported Sheet: CDO

In [56]:
dataframes["CEO"]

,Quarter,Overall Revenue Growth,Market Share,Employee Engagement Score,Customer Satisfaction Score,Revenue,Cost,Profit
0,2022-Q1,0.05,0.15,0.70,0.85,105000,70000,35000
1,2022-Q2,0.07,0.16,0.72,0.87,112350,73500,38850
2,2022-Q3,0.06,0.17,0.74,0.89,119091,77000,42091
3,2022-Q4,0.08,0.18,0.76,0.90,128618,80500,48118
4,2023-Q1,0.10,0.19,0.78,0.91,141480,84000,57480
5,2023-Q2,0.09,0.20,0.80,0.92,154213,87500,66713
6,2023-Q3,0.11,0.21,0.82,0.93,171177,91000,80177
7,2023-Q4,0.12,0.22,0.84,0.94,191718,94500,97218
8,2024-Q1,0.13,0.23,0.86,0.95,216641,98000,118641
9,2024-Q2,0.14,0.24,0.88,0.96,246971,101500,145471

# 3. Clean Column Names

In [ ]:
def clean_column_names(df):
    
    def sanitize(name):
        name = name.replace(" ", "_")
        name = re.sub(r'[^a-zA-Z0-9_]', '', name)
        return name.lower()

    df.columns =